body {
  font-family: sans-serif;
  background-color: grey;
  color: white;
}

img {
  height: 500px;
}

.header {
  color: red;
}

#title-header {
  color: blue;
  font-family: 'Courier New', Courier, monospace;
}

li {
  list-style: square;
  margin: 5px;
  padding: 5px;
  margin-left: 20px;
}

button {
  padding: 5px;
  background-color: blueviolet;
  color: brown;
  border-radius: 10px;
  outline: none;
  border-width: 10px;
}
